<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header">Paramétrage</div>
            <div class="menu-item">
                <a routerLink="/admin/profile" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-house-door"></i></span>
                    <span class="menu-text">Tableau de bord</span>
                </a>
            </div>
            <div class="menu-item">
                <a routerLink="/admin/profile" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-person"></i></span>
                    <span class="menu-text">Mon profil</span>
                </a>
            </div>
            <div class="menu-item">
                <a routerLink="admin/vendeuses" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-person-workspace"></i></span>
                    <span class="menu-text">Gestion des vendeuses</span>
                </a>
            </div>
            <div class="menu-item">
                <a routerLink="admin/category" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-tags"></i></span>
                    <span class="menu-text">Gestion des catégories</span>
                </a>
            </div>
            <div class="menu-item">
                <a routerLink="admin/produits" class="menu-link">
                    <span class="menu-icon"><i class="bi bi-box"></i></span>
                    <span class="menu-text">Gestion des produits</span>
                </a>
            </div>
        </div>
        
        <!-- END menu -->
       
    </div>
    <!-- END scrollbar -->
</div>