
					<div class="pos-menu">
						<!-- BEGIN logo -->
						<div class="logo">
							<a>
								<div class="logo-img"><i class="bi bi-x-diamond" style="font-size: 2.1rem;"></i></div>
								<div class="logo-text">Pine & Dine</div>
							</a>
						</div>
						<!-- END logo -->
						<!-- BEGIN nav-container -->
						<div class="nav-container">
							<div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
								<ul class="nav nav-tabs">
									<li class="nav-item">
										<a class="nav-link" [routerLink]="''" data-filter="x">
											<div class="card">
												<div class="card-body">
													<i class="fa fa-fw fa-shopping-cart"></i> Panier

												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" [routerLink]="'clients'" data-filter="pizza">
											<div class="card">
												<div class="card-body">
                                                    <i class="fa fa-fw fa-user"></i> Client

												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#" data-filter="burger">
											<div class="card">
												<div class="card-body">
													<i class="fa fa-fw fa-box"></i> Produits

												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#"  >
											<div class="card">
												<div class="card-body">
                                                    <i class="fa fa-fw fa-history"></i> Historique

												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#" data-filter="drinks">
											<div class="card">
												<div class="card-body">
													<i class="fa fa-fw fa-cog"></i> Paramétrages

												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item" style="display:none">
										<a class="nav-link" href="#" data-filter="desserts">
											<div class="card">
												<div class="card-body">
													<i class="fa fa-fw fa-ice-cream"></i> Desserts
												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item" style="display:none">
										<a class="nav-link" href="#" data-filter="snacks">
											<div class="card">
												<div class="card-body">
													<i class="fa fa-fw fa-cookie-bite"></i> Snacks
												</div>
												<div class="card-arrow">
													<div class="card-arrow-top-left"></div>
													<div class="card-arrow-top-right"></div>
													<div class="card-arrow-bottom-left"></div>
													<div class="card-arrow-bottom-right"></div>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- END nav-container -->
					</div>
