<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	

	
</head>
<body class='pace-top'>

	<div id="app" class="app app-content-full-height app-without-sidebar app-without-header">

		<div id="content" class="app-content p-1 ps-xl-4 pe-xl-4 pt-xl-3 pb-xl-3">

			<div class="pos card" id="pos">
				<div class="pos-container card-body">

          <app-menu-caisse-left></app-menu-caisse-left>
					<div class="pos-content">
				    		<app-panier></app-panier>
					</div>
			
				
				
                        <app-checkout-right></app-checkout-right>
					
				</div>
				
			</div>
			
		</div>
		
		
	


	</div>


	
</body>
</html>
